@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Para darle la fuente */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Para importar los íconos */
:root{
    --moraditoRiwi: #6B5CFF;
    --negroRiwi: #302E49;
    --grisRiwi: #7F7D96;
}
*{
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-bottom: var(--moraditoRiwi) solid;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    padding: 5px;
}
.lengu{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
figure{
    width: 240px;
    margin: 0;
}
div{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    margin-right: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center; 
}
.logo{
    border-radius: 10px;
    position: relative;
    left: 8px;
}
.loguito{
    position: relative;
    right: 80px;
}
.spring{
    position: relative;
    right: 50px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.botonChat{
    border: none;
    background-color: transparent;
    align-items: end;
    justify-content: right;
    position: fixed;
    bottom: 30px;
    right: 0;
    
}
